.section {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contact Form*/

.Contact {
  background-color: #ffffff;
  height: 800px;
  order: 1;
  margin-bottom: 10px;
  margin-left: 20px;
}

.Contact h2 {
  font-size: 1em;
  padding: 0 5px 5px 0;
}

.mycontact-container {
  height: 300px;
  width: 50%;
  background-color: transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#mycontact a {
  text-decoration: none;
  color: #000000;
  padding: 10px;
}
